* {
    box-sizing: border-box;
}
header {
    background-color:gold;
    height: 100px;
    position: relative;
}

main {
    height: 500px;
}

.left, .content, .right {
    float: left;
    height: 500px;
}

.left {
    width: 20%;
    background-color: grey;
}

.content {
    width: 60%;
    background-color: blue;
}

.right {
    width: 20%;
    background-color:violet;
}

footer {
    background-color: green;
    height: 100px;
}

nav {
    position: absolute;
    margin: 20px;
}
ul li {
    display: inline;
    margin: 10px;
    padding: 5px;
    background-color:red;
}

.content {
    padding: 20px;
}

@media screen and (max-width:500px){
    .left {
        width: 100%;
        height: 100px;
        background-color: teal;
    }
    
    .content {
        width: 100%;
        background-color: thistle;
    }
    
    .right {
        width: 100%;
        height: 100px;
        background-color: wheat;
    }
}